{% extends "base.html" %} 
{% block title %}Gradebook{% endblock %} 
{% block content %}
<link rel="stylesheet" href="../static/gradebook.css">
    <script src="../static/gradebok.js"></script>
<div>
    <h1>Grade book</h1>
    {% if current_user.role == 1 %}  
    <div class="wrapper-gradebook">
      <form method="POST">
        <select name="student_id">
            {% for student in students %}
            <option value="{{ student.id }}">{{ student.first_name }}</option>
            {% endfor %}
        </select>
        <select name="subject-select">
            <option value="Maths">Maths</option>
            <option value="Programming">Programming</option>
            <option value="Bulgarian Language">Bulgarian Language</option>
            <option value="Electronics">Electronics</option>
            <option value="Biology">Biology</option>
        </select>
        <input type="number" min="2" max="6" name="grade" placeholder="Grade">
        <button type="submit">Add Grade</button>
      </form>
    </div>
    {% else %}  
    <table id="grades-table">
      <h1>Table with grades</h1>
      <thead>
          <tr>
              <th>Student</th>
              <th>Subject</th>
              <th>Grade</th>
          </tr>
      </thead>
      <tbody>
        {% for grade in grades %}
        <tr>
            <td>{{ current_user.first_name }}</td>
            <td>{{ grade.subject }}</td>
            <td>{{ grade.grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
  
    {% endif %}
</div>
{% endblock %}