    {% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/card.css">
    <title>Document</title>
</head>
<body>
    <h1> CHOOSE   AN  OPTION : </h1>
    <div class="Wrapper1">
        <div class="Container">
            
                <div class="card1" id="c1" style="background-image: url('/static/Ticket_system.jpg');">
                    <a href="./tickets" class="card1">
                        <div class="row">
                            <div class="icon">1</div>
                            <div class="description">
                                <h4>Troubleshooting helper</h4>
                            </div>
                        </div>
                    </a>
                </div>
            
            
            
            
            <div class="card1" id="c2" style="background-image: url('/static/dnevnik1.webp');">
                <a href="/gradebook" class="card1">
                    <div class="row">
                        <div class="icon">2</div>
                        <div class="description">
                            <h4>Grade book</h4>
                        </div>
                    </div>
                </a>
            </div>
            
           
            <div class="card1" id="c3"style="background-image: url('/static/lunch.jpg');">
                <a href="/menu" class="card1">
                    <div class="row">
                        <div class="icon">3</div>
                        <div class="description">
                            <h4>School lunch menu</h4>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="card1" id="c4"style="background-image: url('/static/Screenshot2.png');">
                <a href="/calendar_to_do_list" class="card1">
                    <div class="row">
                        <div class="icon">4</div>
                        <div class="description">
                            <h4>Students reminder</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
        {% endblock %}

