{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <div class="wrapper-login">
  <form method="POST" class="form-box-login">
    <h2 align="center">Login</h2>
    <div class="input-box-login">
      <input
        type="email"
        name="email"
        placeholder=""
      />
      <label for="email">Email Address</label>
    </div>
    <div class="input-box-login">
      <input
        type="password"
        name="password"
        placeholder=""
      />
      <label for="password">Password</label>
    </div>
    <br/>
    <button type="submit" class="btn-login">Login</button>
  </form>
</div>
<script src="static/index.js"></script>
  {% endblock %}
