{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <script src="static/index.js"></script>
  <div class="wrapper">
  <form method="POST" class="form-box">
    <h2 align="center">Sign Up</h2>
    <div class="input-box">
      <input
        type="email"
        name="email"
        placeholder=""
      />
      <label for="email">Email Address</label>
    </div>
    <div class="input-box">
      <input
        id="firstname"
        type="text"
        name="firstName"
        placeholder=""
      />
      <label for="firstName" >First Name</label>
    </div>
    <div class="input-box">
      <input
        type="password"
        name="password1"
        placeholder=""
      />
      <label for="password1">Password</label>
    </div>
    <div class="input-box">
      <input
        type="password"
        name="password2"
        placeholder=""
      />
      <label for="password2">Password (Confirm)</label>
    </div>
    <br />
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
  {% endblock %}
