<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/tickets.css">
    <title>Ticket system</title>
</head>
<body>
    <div class="wrapper-tickets">
    <div class="container-tickets">
        <div class="classroom">
            <img src="static/school1.jpg" alt="Picture with radio buttons">
        </div> 
      <div class="radio-buttons">
        <label for="option1">
          <input type="radio" id="option1" name="options">
        </label>
        <label for="option2">
            <input type="radio" id="option2" name="options">
          </label>
          <label for="option3">
            <input type="radio" id="option3" name="options">
        </label>
      </div>
    </div>
    <div class="container-tickets">
        <div class="classroom">
            <img src="static/school1.jpg" alt="Picture with radio buttons">
        </div> 
      <div class="radio-buttons">
        <label for="option1">
          <input type="radio" id="option1" name="options">
        </label>
        <label for="option2">
            <input type="radio" id="option2" name="options">
          </label>
          <label for="option3">
            <input type="radio" id="option3" name="options">
        </label>
      </div>
    </div>
    <div class="container-tickets">
        <div class="classroom">
            <img src="static/school1.jpg" alt="Picture with radio buttons">
        </div> 
      <div class="radio-buttons">
        <label for="option1">
          <input type="radio" id="option1" name="options">
        </label>
        <label for="option2">
            <input type="radio" id="option2" name="options">
          </label>
          <label for="option3">
            <input type="radio" id="option3" name="options">
        </label>
      </div>
    </div>
    <div class="container-tickets">
        <div class="classroom">
            <img src="static/school1.jpg" alt="Picture with radio buttons">
        </div> 
      <div class="radio-buttons">
        <label for="option1">
          <input type="radio" id="option1" name="options">
        </label>
        <label for="option2">
            <input type="radio" id="option2" name="options">
          </label>
          <label for="option3">
            <input type="radio" id="option3" name="options">
        </label>
      </div>
    </div>
</div>
</html>