body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(40,0,52);
    background: linear-gradient(213deg, rgba(40,0,52,1) 15%, rgba(0,0,0,1) 51%, rgba(40,0,52,1) 84%);
}


.chat-container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    background: aliceblue;
}

.chat-box {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
}

.input-box {
    padding: 10px;
    height: 70px;
    background-color: #f2f2f2;
    border-top: 2px solid #a9a9a9;
    border-bottom: 2px solid #a9a9a9;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    color: black;
}

button {
    padding: 8px 15px;
    background-color: #3f1681;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}